:root {
    /* Fonts */
--main-font: Open Sans, sans-serif;
--secondary-font: Raleway, sans-serif;
  /* text colors */
  --main-txt-cl: #303030;
  --light-txt-cl: #fff;
  --accent-txt-cl: #ff6c00;

  /* bg color */
   --accent-bg-cl: #ff6c00;
}

.page {
  font-family: var(--main-font)
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
}

/* reset */
.link {
  text-decoration: none;
  color: currentColor;

}
.list {
    list-style: none;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-txt-cl);
}

.hero {
}
.hero-list {
}
.hero-item {
}
.hero-link {
}
.link {
}
